.gradient-custom {
    /* fallback for old browsers */
    background: #333235;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(71, 67, 75), #0d0d0e);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(56, 54, 59), #000000)
    }